<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gosyncv11">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoSyncv11">
        <activity android:name=".ResponseFormActivity"></activity>
        <activity android:name=".ResponseActivity" />
        <activity android:name=".FormFillActivity" />
        <activity android:name=".DisplayFormActivity" />
        <activity android:name=".PreviewActivity" />
        <activity android:name=".CreateFormActivity" />
        <activity android:name=".NavigationActivity" />
        <activity android:name=".ChangeUsername" />
        <activity android:name=".ChangePhn_no" />
        <activity android:name=".ChangeEmail" />
        <activity android:name=".ChangeName" />
        <activity android:name=".FormActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".login" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>